body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(40deg, rgb(185, 58, 58) 23%, rgb(240, 125, 125) 58%, rgb(185, 58, 58))
}

.App {
    width: 20em;
    margin: 1em auto;
    padding: 2em;
    background: rgba(225, 247, 255, 0.29);
    box-shadow: rgba(185, 58, 58, 0.28) 0px 4px 7px 2px;
    border-radius: 5px;
}

.initiative-list {
  margin-top: 2em;
}

.list-item {
    display: flex;
    margin: 1em 0em;
    cursor: pointer;
}

.list-item > * {
    flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > * {
  flex: 1;
}

.form-group > input {
    width: 15em;
    margin: 0.4em auto;
    border: none;
    border-radius: 1em;
    box-shadow: black 0px 0px 2px 0px;
}

.form-group > input:focus {
    outline: none;
    box-shadow: #8fe5ff 0px 0px 5px 3px;
}

input {
  text-align: center;
}

input[type="submit"], label {
  margin-top: 1em;
}
